:root{
    --w100:100%;
    --w90:90%;
    --center:0rem auto;
    --tofront:99;
    --sizephone:88%;
    --transit:all .9s cubic-bezier(.19,1,.22,1);
}

/* titles */
@font-face {
    font-family: "title";
    src: url("/css/fonts/titles/TungstenRounded-Book.woff") format('woff');
}

p,button{font-family: 'Poppins', sans-serif; font-weight: 300; color: #fff;}
h1,h2,h3,li,a{font-family: 'title'; color: #fff;}
li{list-style: none;cursor: pointer;}

@-webkit-keyframes fadeIn{
	from{opacity: 0;} to{opacity: 1;}
}
@-moz-keyframes fadeIn{
	from{opacity: 0;} to{opacity: 1;}
}
@keyframes fadeIn{
	from{opacity: 0;} to{opacity: 1;}
}


